.player>.ly_mp {
	display: block;
	position: absolute;
	left: 0;
	top: auto;
	bottom: 15px;
	width: 100%;
	z-index: 88;
}

.player>.ly_mp div,
#arena .ly_mp>div {
	position: absolute;
	top: auto !important;
	height: 8px;
	border-radius: 8px;
}

.player>.ly_mp>div:first-child {
	width: 100px;
	right: auto;
	left: calc(50% - 50px);
	box-shadow: 0 0 4px yellow;
	background: rgb(100, 0, 0);
}

.player>.ly_mp>div:first-child>div {
	width: 0;
	left: 0;
	float: left;
	background: linear-gradient(#55ffff, #0000ff);
	transition-timing-function: linear;
}

.player>.ly_mp>div:first-child>span {
	font-size: 8px;
	width: 100%;
	left: 0;
	top: 0;
	display: inline-block;
	position: absolute;
	text-align: center;
}

.gl_gouzhu {
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background-size: 100% 100%;
	background-color: #000000;
	z-index: -1;
}

@keyframes fazhen {
	0% {
		transform: rotateZ(0deg);
		opacity: 0.5;
	}

	50% {
		transform: rotateZ(180deg);
		opacity: 1;
	}

	100% {
		transform: rotateZ(360deg);
		opacity: 0.5;
	}
}

.gl_fazhen {
	left: calc(50% - 250px);
	top: calc(50% - 250px);
	width: 500px;
	height: 500px;
	background-size: 100% 100%;
	background-image: url(fazhen.png);
	animation: 1s fazhen infinite linear;
}

.ly_cardmp {
	margin: 5px;
	font-size: 20px;
	bottom: 0;
	right: 0;
	color: #0000ff;
	text-shadow: rgba(85, 255, 255, 1.0) 0 0 2px, rgba(85, 255, 255, 1.0) 0 0 5px, rgba(85, 255, 255, 1.0) 0 0 10px,
		rgba(85, 255, 255, 1.0) 0 0 10px, rgba(85, 255, 255, 1.0) 0 0 20px, rgba(85, 255, 255, 1.0) 0 0 20px, black 0 0 1px;
}